.table 
{
    margin: 3%;
    background-color: #ece6c2;
    color: #000000;
    font-family: 'Roboto-Thin';

}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #cc6b49;
    color: white;
  }