<nav class="navbar">
    <h4 style="font-family: Bungee;">
        <img src="../../../assets/images/logoMaybe.png" width="8%" height="8%" alt="Revature">
        Galaxy Games by Retro Runners
    </h4>
    <form class="form-inline">
        <button class="btn btn-light" [routerLink]="['/cart']">
            Cart
            <span class="badge badge-info">{{cartCount}}</span>
        </button>
        <button class="btn btn-outline-danger my-2 my-sm-0" (click)="logout();">Logout</button>
    </form>
</nav>
