nav{
    background-color: #ece6c2;
    color: #cc6b49;
    margin-bottom: 2%;
    box-shadow: 4px 2px 0px #cc6b49;
}
button{
    font-family: 'Roboto-Regular';
    background-color: #ece6c2;
    color: #000000;
    
}
.title{
    font-size: 50px;
}
