/* button{
    background-color: #cc6b49;
    color: #ffffff;
    border-radius: 1px;
    border-color: #ffffff;
    margin-left: 1%;
}
button.dark-theme{
    background-color: #00e7ec;
    color:#ffffff;
    border-radius: 1px;
    border-color: #ffffff;
    margin-left: 1%;
} */