<div class="container" *ngIf="user">
    <div class="header">
    </div>
    <hr>
    <div class = "userInfo">
        <form [formGroup]="editProfileForm" (ngSubmit) = "saveChanges()">
          <label for="firstName">First Name: </label>
          <input id="firstName" type="text" [(ngModel)]="user.firstName" value = {{user.firstName}} formControlName="firstName" placeholder="first name">
          <br>
          <br>
          <label for="lastName">Last Name: </label>
          <input id="lastName" type="text" [(ngModel)]="user.lastName" value = {{user.lastName}} formControlName="lastName" placeholder="last name">
          <br>
          <br>
          <label for="address1">Address 1: </label>
          <input id="address1" type="text" [(ngModel)]="user.address1" value = {{user.address1}} formControlName="address1" placeholder="address 1">
          <br>
          <br>
          <label for="address2">Address 2: </label>
          <input id="address2" type="text" [(ngModel)]="user.address2" value = {{user.address2}} formControlName="address2" placeholder="address 2">
          <br>
          <br>
          <label for="city">city: </label>
          <input id="city" type="text" [(ngModel)]="user.city" value = {{user.city}} formControlName="city" placeholder="city name">
          <br>
          <br>
          <label for="state">state: </label>
          <input id="state" type="text" [(ngModel)]="user.state" value = {{user.state}} formControlName="state" placeholder="state name">
          <br>
          <br>
          <label for="zip">Zip Code: </label>
          <input id="zip" type="text" [(ngModel)]="user.zip" value = {{user.zip}} formControlName="zip" placeholder="zip code">
          <br>
          <br>
          <label for="country">Country: </label>
          <input id="country" type="text" [(ngModel)]="user.country" value = {{user.country}} formControlName="country" placeholder="country name">
          <br>
          <br>
            <button type="submit">Save</button>
        </form>


    </div>
  
  </div>
  <button [routerLink]="['/home']">home</button>