/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Bungee';
    src: url('assets/fonts/Bungee-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Black';
    src: url('assets/fonts/Roboto-Black.ttf')
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('assets/fonts/Roboto-Bold.ttf')
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('assets/fonts/Roboto-Medium.ttf')
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('assets/fonts/Roboto-Light.ttf')
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('assets/fonts/Roboto-Regular.ttf')
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('assets/fonts/Roboto-Thin.ttf')
}

body{
    background-color: #73bda8;
    color: #cc6b49;
}
body.dark-theme{
    background-color: #000000;
    color: #002dd1;
}button{
    background-color: #cc6b49;
    color: #ffffff;
    border-radius: 1px;
    border-color: #ffffff;
    font-family: 'Roboto-Thin';
    margin-right: 5%;
    margin-bottom: 5%;
}
button.dark-theme{
    background-color: #00e7ec;
    color: #ffffff;
    border-radius: 1px;
    border-color: #ffffff;
    font-family: 'Roboto-Thin';
    margin-right: 5%;
}
button:hover{
    background-color: #ffffff;
    color:#ece6c2;
}
span{
    font-family: 'Roboto-Regular';
}
h1{
    font-family: 'Bungee';
}
h2{
    font-family: 'Bungee';
}
h3{
    font-family: 'Roboto-Bold';
}
h4{
    font-family: 'Roboto-Regular';
}
input{
    font-family: 'Roboto-Thin';
}
h5{
    font-family: 'Roboto-Thin';
}
h6{
    font-family: 'Roboto-Light';
}
label{
    font-family: 'Roboto-Regular';
}